/***********************************************************
 - Contact
***********************************************************/

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #fef0b8;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 20px;
  resize: vertical;
  background-color: #fef0b8;
  font-family: 'Poppins',
  sans-serif;
}

textarea {
  height: 230px;
}

input[type=submit] {
  background-color: #0c0c0c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0c0c0c;
  color: #ffd42d;
}

.error-contact{
  color:red;
  font-weight: bold;
  font-size:12px;
}

.error-contact > ul{
     padding-inline-start: 16px;
}