@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #0c0c0c;
  --select-focus: #ffd42d;
  --select-arrow: var(--select-border);
}

.mapContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
}
#wildmap {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: flex-start;
}
.mapSelector {
  margin: 2rem;
  z-index: 500;
  color: #0c0c0c;
  outline: none;
  font-family: inherit;
  border: 1px solid #0c0c0c;
  border-radius: 0.4rem;
  padding: 0.35rem 0 0.35rem 0.35rem;
  font-size: 0.75rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #ffd42d;
  background-image: linear-gradient(to top, #ffcc00, #ffd42d 33%);
}
option:hover {
  background-color: #ffe993;
}
